body {
	background-color: #E82344;
	background-image: url(../images/zia.jpg);
	background-size: cover;
	background-position: 50% 50%;
	background-attachment: fixed;
	font-family: Helvetica, Arial, sans-serif;
}

.main {
	box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.8);
	background-color: rgba(212,161,144,0.8);
	max-width: 700px;
	margin: 90px auto;
	padding: 40px;
	border-radius: 40px;
}

h1 {

	font-family: 'Pacifico', cursive;
	text-shadow: 5px 5px #DB6067;
	text-align: center;
	font-size: 72px;
	margin: 0;
}

h2 {
	font-size: 24px;
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-bottom: 40px;
}

img {
	/*centre the image*/
	display: block;
	margin: 0 auto;
	border: 7px solid #E82344;
	border-radius: 10%;
}

h3 {
	font-size: 24px;
	margin-bottom: 0;
	cursor: pointer;

	 }

p,
ul,
ol {
	line-height: 1.6;
	list-style: none;

}

a{
	color: #E82344;
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: #90;
}

